<app-header></app-header>

<div class="container">
    <h2 class="mt-4 text-center text-xl-left">Overview</h2>

    <div class="row mt-4">
        <div class="col-12 col-lg-6 mb-4">
            <app-donut-chart title="Performance Category"></app-donut-chart>
        </div>
        <div class="col-12 col-lg-6">
            <app-bar-chart title="Performance Distribution"></app-bar-chart>
        </div>
    </div>

    <h2 class="mt-4 text-center text-xl-left">User List</h2>

    <div class="row mt-4">
        <div class="col">
            <app-user-table></app-user-table>
        </div>
    </div>
</div>