<app-header></app-header>

<div class="container">
    <h2 class="mt-4 text-center text-xl-left">Overview</h2>
        
    <div class="row mt-4">
        <div class="col-12 col-xl-6 mb-4">
            <app-donut-chart></app-donut-chart>
        </div>
        <div class="col-12 col-xl-6">
            <app-bar-chart></app-bar-chart>
        </div>
    </div>
        
    <h2 class="mt-4 text-center text-xl-left">User List</h2>
        
    <div class="row mt-4">
        <div class="col">
            <app-user-table></app-user-table>
        </div>
    </div>
</div>
